@model Amoozeshgah.ViewModel.StudentRegisterDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <title>StudentRegister</title>
    <style>
        .main-center {
            margin-top: 30px;
            margin: 0 auto;
            max-width: 400px;
            padding: 10px 40px;
            background: #009edf;
            color: #FFF;
            text-shadow: none;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
        } 
        body{
            direction:rtl;
        }  
    </style>
</head>
<body>
        <div>
            @using (Html.BeginForm())
            {
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            @Html.LabelFor(model => model.NationalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.NationalCode)
                        </div>
                        <div class="col-md-3 col-sm-3">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.FirstName)
                        </div>
                        <div class="col-md-3 col-sm-3">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.LastName)
                        </div>
                        <div class="col-md-3 col-sm-3">
                            @Html.LabelFor(model => model.BirthDateJalali, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.BirthDateJalali)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            @Html.LabelFor(model => model.SexId, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EnumDropDownListFor(model => model.Sexes)
                            @Html.DropDownListFor(model => model.Sexes,
                               (IEnumerable<SelectListItem>)ViewBag.DropDownList, "---Select a value---")
                            
                        </div>
                        <div class="col-md-3 col-sm-3">
                            @Html.LabelFor(model => model.FatherFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.FatherFirstName)
                        </div>
                        <div class="col-md-3 col-sm-3">
                            @Html.LabelFor(model => model.ParentFirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.ParentFirstName)
                        </div>
                        <div class="col-md-3 col-sm-3">
                            @Html.LabelFor(model => model.ParentLastName, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.ParentLastName)
                        </div>
                    </div>


                </div>
            }
        </div>
    </body>
</html>
