@model IEnumerable<Amoozeshgah.Domain.Entities.EducationalCenter>
@{
    ViewBag.Title = "لیست مراکز آموزشی";
}
<div class="col-md-12">
    <br />
    <a class="btn btn-success btn-outline" href="/AdministratorArea/ManageEducationalCenters/CreateNewEducationalCenter">جدید</a>
    <hr />
    <table class="table table-condensed table-hover datatable2">
        <thead>
            <tr>
                <th>نام مرکز</th>
                <th>کد مرکز</th>
                <th>کد ناحیه</th>
                <th>نوع مرکز</th>
                <th>جنسیت</th>
                <th>نام موسس</th>
                <th>نام خانوادگی موسس</th>
                <th>کد ملی موسس</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ec in Model)
            {
                <tr>
                    <td>@ec.Site.Name</td>
                    <td>@ec.Id</td>
                    <td>@ec.AreaId</td>
                    <td>@ec.Category</td>
                    <td>@ec.Sex.Title</td>
                    <td>@ec.MoassesFirstName</td>
                    <td>@ec.MoassesLastName</td>
                    <td>@ec.MoassesNationalCode</td>


                    <td><a href="/AdministratorArea/ManageEducationalCenters/EditEducationalCenter/@ec.Id" class="btn btn-sm btn-success btn-outline"><i class="fa fa-fw fa-pencil"></i>ویرایش</a></td>
                </tr>


            }

        </tbody>
    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#mySelect").change(function () {
                var selected = $(':selected', this);
                var selopt = selected.closest('optgroup').attr('label');
                if (selopt == "زبان های خارجه") {
                    $('optgroup[label=علمی آزاد]').prop('disabled', true);
                    $('.selectpicker').selectpicker('refresh');
                } else {
                    $('optgroup[label=علمی آزاد]').prop('disabled', false);
                    $('.selectpicker').selectpicker('refresh');
                }
                if (selopt == "علمی آزاد") {
                    $('optgroup[label=زبان های خارجه]').prop('disabled', true);
                    $('.selectpicker').selectpicker('refresh');
                } else {
                    $('optgroup[label=زبان های خارجه]').prop('disabled', false);
                    $('.selectpicker').selectpicker('refresh');
                }
            });
        });
    </script>
    }